[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu 
WorkingDirectory={{ project_directory }} 
ExecStart=/usr/local/bin/bundler exec puma
Restart=always

[Install]
WantedBy=multi-user.target
